/* Import Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Apply styles to all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

/* Container for the logo */
.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add this line */
}

/* Logo */
.logo {
    max-width: 40px; /* Adjust the maximum width of the logo */
    height: auto;
    cursor: pointer;
}

/* Logo text */
.logo-text {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 7%;
    transform: translateX(-50%);
    font-size: 30px; /* Adjust font size as needed */
    color: #a9008a; /* Adjust the color of the text */
    background-color: rgba(255, 255, 255, 0.8); /* Background color for better visibility */
    padding: 5px 10px; /* Add padding to the text for better spacing */
    border-radius: 10px; /* Add border-radius for a rounded appearance */
}





/* Heading */
h1 {
    margin-bottom: 25px; /* Adjust the value as needed */
}

/* Body */
body {
    padding-top: 100px;
}

/* Links, buttons */
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #0d0a0a;
    text-decoration: none;
}

/* Header */
header {
    position:static;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 500; /* Increase the z-index to ensure the header is above other content */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    box-shadow: 0 8px 11px rgb(14 55 54/ 15%);
    padding: 5px 100px;
    transition: 0.5s;
}

.nav_links li {
    display:inline;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    padding: 10px;
    border-radius: 8px;
}

.nav_links li a:hover, .nav_links li a.active {
    color: #a9008a;
    text-decoration: underline;
}

/* Button */
button {
    padding: 9px 25px;
    margin-top: -50px;
    background-color: rgba(0, 136, 169, 1);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

/* Yearly chart */
.java-plot{
    max-width: 90%; /* Adjust the maximum width as needed */
    margin: 20px auto; /* Adjust the margin as needed */
    display: block;
    background-color: #FFFFFF; /* Adjust background color if needed */
    border-radius: 8px; /* Add border-radius for a rounded appearance */
    overflow: hidden; /* Prevent horizontal overflow */
}

/* Content container */
div {
    text-align: center;
    margin-top: 20px;
}

/* Additional styles for the heading in the content container */
.content-container h1 {
    margin-right: 1100px; /* Adjust as needed: controls the spacing between "Discover" and the rest of the text */
    margin-top: 250px;
}

/* Additional styles for the paragraph in the content container */
.homepage-paragraph {
    font-size: 18px; /* Adjust as needed: font size for the paragraph text */
    line-height: 1.5; /* Adjust as needed: line height */
    text-align: left; /* Adjust as needed: centers the text */
    margin-top: 10px;
    margin-left: 50px;
}

/* Additional styles for the real estate paragraph */
.realestate_intro-paragraph {
    margin-left: 300px; /* Adjust as needed */
    margin-right: 20px; /* Adjust as needed */
    margin-top: -20px;
    text-align: left; 
    line-height: 1.5; /* Adjust as needed: line height */
}